<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <header>
        <%- include('partials/navbar') %>
    </header>
    <main>
        <% if (products.length) { %>
            <div class="product-grid">
                <% products.forEach(product => { %>
                    <div class="product-card">
                        <!-- <img src="<%= product.image %>" alt="<%= product.name %>"> -->
                        <h2><%= product.name %></h2>
                        <p><%= product.description %></p>
                        <% if (product.discount && product.discount != 0) { %>
                            <p class="price" style="text-decoration: line-through;">$<%= Number(product.price).toFixed(2) %></p>
                            <p class="discount">Descuento: <%= (product.discount * 100).toFixed(0) %>%</p>
                            <p class="price">$<%= Number(product.price - (product.price * product.discount)).toFixed(2) %></p>
                        <% } else { %>
                            <p class="price">$<%= Number(product.price).toFixed(2) %></p>
                        <% } %>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p>No hay productos disponibles.</p>
        <% } %>
    </main>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>